*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	color:white;
}

body{
	background:#1D224C;	
	display:flex;
	align-items:center;
	width:100%;
	height:100vh;
	flex-direction:column;
	justify-content:space-round;
}

ul,dl,ol{
	margin:1%;
}